@mixin user-drag($input){
	user-drag: $input; 
	user-select: $input;
	-moz-user-select: $input;
	-webkit-user-drag: $input;
	-webkit-user-select: $input;
	-ms-user-select: $input;
}

div {
	#registration-content, #information-content{
		margin: 30px 6% 4% 6%;
		padding: 0px 4% 3% 4%;
		text-align: center;
		border-style: solid;
		border-width: 4px;
		border-color: rgba(114,84,0,0.89);
		border-radius: 20px;
		background: rgba(255,255,255,0.7);
	}

	#subevent-contact-information {
		padding: 20px 0 20px 0;
	}
	
	.form-text-input-container {
		width: 40vw;
		border-width: 1px;
		border-radius: 5px;
		border-color: #bbb;
		border-style: solid;
		padding: 1%;
		margin: 0% 0% 1% 0% !important;
		text-align: center;
		display: inline-block;
		position: relative;
	}
	.registration-form-content { // this is each of the form placeholder
		text-align: center;
		margin-top: 2%;
	}
	
	.registration-tab-content {
		display: none;
		padding: 6px 12px;
		border: 2px solid #ccc;
		border-radius: 20px;
	}
}

h1 {
	&#pendaftaran{
		margin-bottom: 0;
	}
}

input {
	z-index: 2;
	&:focus + label, &:valid + label{
		font-size: 9pt;
		top: -1px;
	}
}

article {
	&#explanation{
		margin-bottom: 2%;
	}
}

form{
	> div {
		position: relative;
	}
}

label{
	color: #777;
	top: 17px;
	left: 17px;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	z-index: 1;
	font-weight: 400 !important;
	position: absolute;
}

.registration-tab{
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: #f1f1f1;
	margin-left: auto;
	margin-right: auto;
	padding-left: 30px;
	padding-right: 30px;
	text-align: center;
	width: 200px;
}

.tab-row-1, .tab-row-2 {
	display: inline-grid;
}

button, input[type=submit] {
	background-color: rgba(206,144,0,0.76) !important;
	&.registration-events {
		float: left;
		border: none;
		outline: none;
		cursor: pointer;
		padding: 14px 16px;
		transition: 0.3s;
		&:hover {
			background-color: rgba(206,144,0,1);
		}

		&.active {
			background-color: rgba(156,104,0,0.76);
		}
	}
}

input[type=file]{
	z-index: 0 !important;
}

.isFilled {
	font-size: 9pt;
	top: -1px;
}

.disable-selection {
	-moz-user-select: none; /* Firefox */
	 -ms-user-select: none; /* Internet Explorer */
  -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
 -webkit-user-select: none; /* Chrome, Safari, and Opera */
 -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}

.form-text-input {
	margin: 0 5px 0 5px;
}

//630px
@media (min-width: 630px){
	.registration-tab {
		width: 400px;
	}
	.tab-row-1, .tab-row-2 {
		display: block;
	}

	div{
		#registration-content, #information-content{
		margin: 60px 12% 4% 12%;
		padding: 0px 4% 3% 4%;
		text-align: center;
		border-style: solid;
		border-width: 4px;
		border-color: rgba(114,84,0,0.89);
		border-radius: 20px;
		background: rgba(255,255,255,0.7);
		}
	}
}

.elementor-4254 .elementor-element.elementor-element-8ec86cf {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

.elementor-4254 .elementor-element.elementor-element-1a7c985 {
	margin-bottom: 0 !important;
}

img.socmed{
		width: 14px;
		height: 14px;
		@include user-drag(none);
}

.elementor-menu-toggle i:before {
	//slight fix
	content: '\f0c9' !important;
}

.elementor-menu-toggle.elementor-active i:before {
	content: '\f0d7' !important;
}

span {
	&.label-like{
		color: rgb(119, 119, 119);
		font-weight: 400;
		text-align: left;
		border-bottom-color: #d2d2d2;
		float: left;
		margin-left: 6px;
		padding-left: 6px;
		border-bottom-style: solid;
		border-bottom-width: 1px;
		width: 98%;
	}
}